@model AML.Infrastructure.Data.EF.DIAGNOSI

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DIAGNOSI</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISSUE_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISSUE_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TREATMENT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TREATMENT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.REMARKS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.REMARKS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NURSE_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NURSE_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOC_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOC_ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
