@model AML.Infrastructure.Data.EF.DOCTOR

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DOCTOR</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DNAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DNAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GENDER)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GENDER)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QUALIFICATION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QUALIFICATION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JOB_SPECIFICATION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JOB_SPECIFICATION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HOSP_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HOSP_NAME)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
